.ic {
    display: flex;
    justify-content: center;
    margin: 0 0 10px;
}

.ic-bank-transfer:before {
    content: url('/assets/img/payment_methods/ic-bank-transfer.svg');
}

.ic-bitcoin-cash:before {
    content: url('/assets/img/payment_methods/ic-bitcoin-cash.svg');
}

.ic-bitcoin:before {
    content: url('/assets/img/payment_methods/ic-bitcoin.svg');
}

.ic-cashu:before {
    content: url('/assets/img/payment_methods/ic-cashu.svg');
}

.ic-clickandbuy:before {
    content: url('/assets/img/payment_methods/ic-clickandbuy.svg');
}

.ic-ethereum-classic:before {
    content: url('/assets/img/payment_methods/ic-ethereum-classic.svg');
}

.ic-ethereum:before {
    content: url('/assets/img/payment_methods/ic-ethereum.svg');
}

.ic-fasapay:before {
    content: url('/assets/img/payment_methods/ic-fasapay.svg');
}

.ic-icbc:before {
    content: url('/assets/img/payment_methods/ic-icbc.svg');
}

.ic-instadebit:before {
    content: url('/assets/img/payment_methods/ic-instadebit.svg');
}

.ic-internet-bank-transfer:before {
    content: url('/assets/img/payment_methods/ic-internet-bank-transfer.svg');
}

.ic-internet-banking:before {
    content: url('/assets/img/payment_methods/ic-internet-banking.svg');
}

.ic-litecoin:before {
    content: url('/assets/img/payment_methods/ic-litecoin.svg');
}

.ic-mastercard-securecode:before {
    content: url('/assets/img/payment_methods/ic-mastercard-securecode.svg');
}

.ic-mastercard:before {
    content: url('/assets/img/payment_methods/ic-mastercard.svg');
}

.ic-moneta:before {
    content: url('/assets/img/payment_methods/ic-moneta.svg');
}

.ic-neteller:before {
    content: url('/assets/img/payment_methods/ic-neteller.svg');
}

.ic-ok-pay:before {
    content: url('/assets/img/payment_methods/ic-ok-pay.svg');
}

.ic-paysafe-card:before {
    content: url('/assets/img/payment_methods/ic-paysafe-card.svg');
}

.ic-perfect-money:before {
    content: url('/assets/img/payment_methods/ic-perfect-money.svg');
}

.fx-one-zero:before {
    content: url('/assets/img/payment_methods/ic-bank-transfer.svg');
}

.ic-qiwi:before {
    content: url('/assets/img/payment_methods/ic-qiwi.svg');
}

.ic-skrill:before {
    content: url('/assets/img/payment_methods/ic-skrill.svg');
}

.ic-ukash:before {
    content: url('/assets/img/payment_methods/ic-ukash.svg');
}

.ic-union-pay:before {
    content: url('/assets/img/payment_methods/ic-union-pay.svg');
}

.ic-verified-visa:before {
    content: url('/assets/img/payment_methods/ic-verified-visa.svg');
}

.ic-visa:before {
    content: url('/assets/img/payment_methods/ic-visa.svg');
}

.ic-webmoney:before {
    content: url('/assets/img/payment_methods/ic-webmoney.svg');
}

.ic-western-union:before {
    content: url('/assets/img/payment_methods/ic-western-union.svg');
}

.ic-yandex:before {
    content: url('/assets/img/payment_methods/ic-yandex.svg');
}

.ic-licensed-regulated:before {
    content: url('/assets/img/dark/ic-licensed-regulated.svg');
}

.ic-trade-real-crypto:before {
    content: url('/assets/img/dark/ic-trade-real-crypto.svg');
}

.ic-unique-trade-types:before {
    content: url('/assets/img/dark/ic-unique-trade-types.svg');
}
