<footer>
    <div class = "container">
        <div class = "col footer-section" align = "center">
            <p>Trading binary options may not be suitable for everyone, so please ensure that you fully understand the risks involved. Your losses can exceed your initial deposit and you do not own or have any interest in the underlying asset. In regards to binary options which are gambling products, remember that gambling can be addictive - please play responsibly. Read about Responsible Trading.</p>
        </div>
    </div>
</footer>
