<div class = "row">
    <div class="col" align = "center">
        <h2>Why Trade with Us</h2>
    </div>
</div>
<div class = "row">
    <div class="col-sm-12 col-md-4" align = "center">
        <div>
            <span class="ic ic-unique-trade-types"></span>
        </div>
        <div class="box-item-end">
            <h3>Test</h3>
            <p>Testing description here</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-4" align = "center">
        <div>
            <span class="ic ic ic-trade-real-crypto"></span>
        </div>
        <div class="box-item-end">
            <h3>Test</h3>
            <p>Testing description here</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-4" align = "center">
        <div>
            <span class="ic ic-licensed-regulated"></span>
        </div>
        <div class="box-item-end">
            <h3>Test</h3>
            <p>Testing description here</p>
        </div>
    </div>
</div>
