<div class = "container">
    <div class = "row">
        <div class = "col-md" align = "center">
            <h2>Payment Methods</h2>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <span class="ic ic-visa"></span>
        </div>
        <div class = "col">
            <span class="ic ic-mastercard"></span>
        </div>
        <div class = "col">
            <span class="ic ic-bank-transfer"></span>
        </div>
        <div class = "col">
            <span class="ic ic-internet-bank-transfer"></span>
        </div>
        <div class = "col">
            <span class="ic ic-western-union"></span>
        </div>
        <div class = "col">
            <span class="ic ic-internet-banking"></span>
        </div>
        <div class = "col">
            <span class="ic ic-skrill"></span>
        </div>
        <div class = "col">
            <span class="ic ic-neteller"></span>
        </div>
        <div class = "col">
            <span class="ic ic-moneta"></span>
        </div>
        <div class = "col">
            <span class="ic ic-webmoney"></span>
        </div>
        <div class = "col">
            <span class="ic ic-ukash"></span>
        </div>
        <div class = "col">
            <span class="ic ic-instadebit"></span>
        </div>
        <div class = "col">
            <span class="ic ic-qiwi"></span>
        </div>
        <div class = "col">
            <span class="ic ic-clickandbuy"></span>
        </div>
        <div class = "col">
            <span class="ic ic-verified-visa"></span>
        </div>
        <div class = "col-md">
            <span class="ic ic-union-pay"></span>
        </div>
        <div class = "col">
            <span class="ic ic-mastercard-securecode"></span>
        </div>
        <div class = "col">
            <span class="ic ic-icbc"></span>
        </div>
        <div class = "col">
            <span class="ic ic-yandex"></span>
        </div>
        <div class = "col">
            <span class="ic ic-fasapay"></span>
        </div>
        <div class = "col">
            <span class="ic ic-perfect-money"></span>
        </div>
        <div class = "col">
            <span class="ic ic-cashu"></span>
        </div>
        <div class = "col">
            <span class="ic ic-ok-pay"></span>
        </div>
        <div class = "col">
            <span class="ic ic-paysafe-card"></span>
        </div>
        <div class = "col">
            <span class="ic ic-bitcoin"></span>
        </div>
        <div class = "col">
            <span class="ic ic-bitcoin-cash"></span>
        </div>
        <div class = "col">
            <span class="ic ic-litecoin"></span>
        </div>
        <div class = "col">
            <span class="ic ic-ethereum"></span>
        </div>
        <div class = "col">
            <span class="ic ic-ethereum-classic"></span>
        </div>
    </div>
</div>
