.main-content {
  background-image: url('../img/header-bg.png');
  background-size: cover;
}

.feature-box {
  text-align: center;
  margin-top: 30px;
}

header {
  width: 100%;
  background-color: transparent;
}

.footer {
  background-color: #2A3052;
}

.footer-section {
  padding:15px;
}

.logo {
  margin: auto;
  display: block;
}
h1 {
  font-size: 36px;
  font-weight: 100;
  color: #E98024;
  text-align: center;
}

h2 {
  font-weight: 100;
  color: #E98024;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-weight: 100;
  color: white;
  text-align: center;
}

p {
  line-height: 1.5;
  color: white;
}

.iframe{
  width: 100%;
}
