<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://style.binary.com/binary.css">
        <link rel="stylesheet" href="../css/signup.css">
        <script src="../javascript/signup.js"></script>
    </head>

    <body>
        <form class="gr-12" id="frm_verify_email">
            <div class="gr-row gr-row-align-center">
                <div class="signup-box gr-7 secondary-bg-color gr-row-align-center">
                    <div class="gr-row gr-padding-5" id="signup">
                        <div class="gr-7 gr-10-m gr-centered gr-no-gutter-right">
                            <input autocomplete="off" name="email" id="email" maxlength="50" placeholder="Enter your email">
                            <div class="error-msg invisible"></div>
                        </div>
                        <div class="gr-5 gr-8-m gr-centered" id="btn_wrapper">
                            <button class="primary-bg-color" id="btn_verify_email" type="submit">Create Free Account</button>
                        </div>
                    </div>
                    <div class="invisible" id="success">
                        <div class="gr-padding-10 center-text hint gr-12 align-self-center">Thank you for signing up! Please check your email to complete the registration process.</div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
